#---------------------------- Resource Group ----------------------------     

application_name = "Bolt"    
brand            = "Ingenovis Health"
created_by       = "Terraform"
creation_method  = "Terraform"
department       = "Tech Ops"
requested_by     = "Bolt"
support_team     = "Azure Team"
owner            = "Ingenovis Health"

environment                     = "dev"
resource_name_prefix            = "ing-blt"
resource_group_name             = "RG-PavanPatil-Dev-test"
